/* --- V2 --- */
body{
	font-family: Roboto,-apple-system,sans-serif !important;
	color: #2a2f2c !important;
}

.app{
	padding-right: 0px !important;
	padding-left: 0px !important;
	background-image: linear-gradient(-180deg,#fff,#fbfbfb 38%,#f6f6f6);
	/* height: 100% !important; */
}

/*CATEGORIES*/
.btn-category{
	font-weight: 450;
	
	min-height: 65px;
	min-width: 65px;
	float: left;
	
	justify-content: center;
    align-items: center;
	
	display: flex;
    /* vertical-align: center; */
    margin-right: 10px;
	margin-bottom: 10px;
	
	padding-left: 6px;
	padding-right: 6px;
    
    border-radius: 12px;
    box-shadow: 0 -2px 8px 0 rgba(0,0,0,.04), 0 8px 8px 0 rgba(0,0,0,.04);
 
}

.btn-category-active{
	background: #919399;
	color: #ffffff;
}

.subscription-cats{
	font-size: .5rem;
}

/*END CATEGORIES*/

/*JOB LIST*/
.job-block{
    border-radius: 12px;
    box-shadow: 0 -2px 8px 0 rgba(0,0,0,.04), 0 8px 8px 0 rgba(0,0,0,.04);
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 3px;
	margin-top: 10px;
}

.job-title{
	font-size: 1.1rem;
	margin-bottom: 5px;
}

.job-budget{
	font-size: 1.2rem;
	margin-bottom: 5px;
}

.job-description{
	font-size: 0.91rem;
	margin-bottom: 5px;
}

.job-address{
	font-size: 0.82rem;
	margin-bottom: 5px;
}

.job-created-ago{
	font-size: 0.72rem;
}

.job-zakazchik{
	font-size: 0.86rem;
}
/*END JOB LIST*/

/*JOB FORM*/

.job-form-desc{
	height: 200px;
}

/*END JOB FORM*/
.footer {
  bottom: 0;
  width: 100%;
  height: 3.5rem;           
  background: red;
}

.container-fluid {
	padding-bottom: 2.5rem;
	min-height: 700px;
}

